<div class="container">
  <h2>Edit Employee</h2>
  <form [formGroup]="employeeForm">
    <mat-dialog-content >
      <!-- ID Number -->
      <mat-form-field>
        <mat-label>Identity</mat-label>
        <input matInput formControlName="identity" placeholder="Enter identity">
        <mat-error *ngIf="employeeForm.get('identity')?.hasError('required')">Identity is required</mat-error>
        <mat-error *ngIf="employeeForm.get('identity')?.hasError('pattern')">Identity must contain 9 digits</mat-error>
      </mat-form-field>

      <!-- First Name -->
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter First Name">
        <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
        <mat-error *ngIf="employeeForm.get('firstName')?.hasError('pattern')">First Name must contain only English letters and
          have minimum length of 2</mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter Last Name">
        <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
        <mat-error *ngIf="employeeForm.get('lastName')?.hasError('pattern')">Last Name must contain only English letters and
          have minimum length of 2</mat-error>
      </mat-form-field>

      <!-- Gender -->
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" placeholder="Select Gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="employeeForm.get('gender')?.hasError('required')">Gender is required</mat-error>
      </mat-form-field>

      <!-- Date of Birth -->
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth" placeholder="Enter Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirth></mat-datepicker>
        <mat-error *ngIf="employeeForm.get('dateOfBirth')?.hasError('required')">Date of Birth is required</mat-error>
        <mat-error *ngIf="employeeForm.get('dateOfBirth')?.hasError('tooYoung') && employeeForm.get('dateOfBirth')?.touched">
            Date of Birth must be above or equal to 18 years old
          </mat-error>
      </mat-form-field>

      <!-- Start of Work Date -->
      <mat-form-field>
        <mat-label>Start of Work Date</mat-label>
        <input matInput [matDatepicker]="startOfWorkDate" formControlName="startOfWorkDate"
          placeholder="Enter Start of Work Date">
        <mat-datepicker-toggle matSuffix [for]="startOfWorkDate"></mat-datepicker-toggle>
        <mat-datepicker #startOfWorkDate></mat-datepicker>
        <mat-error *ngIf="employeeForm.get('startOfWorkDate')?.hasError('required')">Start of Work Date is
          required</mat-error>
          <mat-error *ngIf="employeeForm.get('startOfWorkDate')?.hasError('invalidStartDate') && employeeForm.get('startOfWorkDate')?.touched">
          start Of WorkDate must be after DateOfBirth </mat-error>
      </mat-form-field>

      <mat-accordion formArrayName="positionEmployees">
        <button mat-raised-button class="mat-raised-button" (click)="addPositionControl()">Add
          Position<mat-icon>add</mat-icon></button>
        <mat-expansion-panel *ngFor="let position of positionsFormArray.controls; let i = index" class="expansion-pane">
          <mat-expansion-panel-header>
            <mat-panel-title> Position {{ i + 1 }} </mat-panel-title>
            <button mat-icon-button color="warn" (click)="removeControlOfPosition(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <div [formGroupName]="i">
            <div>
              <mat-form-field>
                <mat-label>Position</mat-label>
                <mat-select formControlName="positionId" placeholder="Select Position">
                  <mat-option *ngFor="let pos of positionEmployees" [value]="pos.id"
                    [disabled]="notShowEmployeePosition(pos.id, i)">
                    {{ pos.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="positionsFormArray.controls[i].get('positionId')?.hasError('required')">Position is
                  required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Date Of Entry:</mat-label>
                <input matInput [matDatepicker]="dateOfEntry" formControlName="dateOfEntry"
                  placeholder="Enter Date Of Entry">
                <mat-datepicker-toggle matSuffix [for]="dateOfEntry"></mat-datepicker-toggle>
                <mat-datepicker #dateOfEntry></mat-datepicker>
                <mat-error *ngIf="positionsFormArray.controls[i].get('dateOfEntry')?.hasError('required')">Entry Date is required</mat-error>
                  <mat-error *ngIf="positionsFormArray.controls[i].get('dateOfEntry')?.hasError('entryDateBeforeWorkDate')">
                    Entry Date must be after Start of Work Date </mat-error>
              </mat-form-field>
              <mat-checkbox formControlName="isAdmin">Is Admin</mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div *ngIf="isLoading">
        <mat-spinner></mat-spinner> <!-- ספינר -->
        <p>Updating employee...</p>
      </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button mat-button color="warn" (click)="cancel()">❌Cancel</button>
      <button mat-button class="submit" type="submit" (click)="onSubmit()">Submit</button>

    </mat-dialog-actions>
  </form>
</div>