h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
h4 {
  text-align: center;
}
.submit{
  background-color: black;
  color: white;
}
.mat-raised-button{
  margin-bottom: 10px;
  background-color: black;
  color: white;
}
.expansion-pane{
  margin-bottom: 10px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 20px;

  input {
    width: 100%;
  }

  mat-select {
    width: 100%;
  }
}
button.mat-button {
  background-color: black;
  /* רקע של הכפתורים */
  color: white;
  /* צבע הטקסט של הכפתורים */
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}