 <footer class="footer">
  <div class="footer-content">
    <div class="left-content">
      <a href="https://github.com/F-Chani/PracticumProject" target="_blank" class="github-link">
        <img src="../../../assets/images/logo.png" alt="GitHub Icon" class="github-icon">
        GitHub Repository
      </a>
      <a href="http://localhost:4200/" class="contact"> © 2024 Copyright: Chana Froidiger</a>
    </div>
    <div class="right-content">
      <div class="contact-info">
        <span class="contact">
          <a href="mailto:chanaf5731@gmail.com">
            <mat-icon>send-email</mat-icon>
            {{this.email}}
          </a>
        </span>
        <span class="contact">|</span>
        <span class="contact">
          <mat-icon>phone</mat-icon> 0504165731
        </span>
      </div>
    </div>
  </div>
</footer> 

