.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 300px;
    caret-color: #000000;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #000000;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.topbar {
    background-color: black;
    color: white;
    margin-bottom: 3%;
}

.button {
    border: none;
    background-color: white;
    border-radius: 0%;
}

.example-spacer {
    flex: 1 1 auto;
}
.search_input {
    border: 0;
    background: white; /* צבע רקע לבן */
    width: 0;
    opacity: 0; /* מסתיר את השדה חיפוש באופן חלק */
    visibility: hidden; /* מסתיר את השדה חיפוש */
    caret-color: transparent;
    transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s ease; /* אנימציה לשינויי רוחב, אטימות ונראות */
}

.searchbar:hover .search_input {
    width: 300px; /* רוחב השדה חיפוש בעת העצירה על האיקון */
    opacity: 1; /* מציג את השדה חיפוש */
    visibility: visible; /* מציג את השדה חיפוש */
    caret-color: initial;
    height: 40px;
}


.logo {
    height: 60px;
    /* גובה התמונה */
    width: auto;
    /* רוחב מתפשר */
    margin-right: 16px;
    /* מרווח מימין להפרדה */
}

.buttontopbar {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 120px;
    min-height: 36px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    text-align: center;
    padding: 8px 16px;
    margin-right: 8px;

    &:active {
        opacity: 0.8;
    }
}

.topbar .mat-toolbar-row {
    display: flex;
    justify-content: flex-end;
    /* יישור תמורות לצד ימין */
    align-items: center;
    /* יישור אנכי למרכז */
}

/* הגדרות עיצוב לכפתורים בצד ימין של ה-toolbar */
.topbar .buttontopbar {
    margin-left: 8px;
}

.left-content {
    display: flex;
    align-items: center;
}

.right-content {
    display: flex;
    align-items: center;
}

.fill-remaining-space {
    flex: 1;
}

